oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v19.0.0
INVENTORY_LOCATION={{ ORA_INVENTORY }}
oracle.install.option=HA_CONFIG
ORACLE_BASE={{ ORACLE_BASE }}
oracle.install.asm.OSDBA={{ ASM_OSDBA }}
oracle.install.asm.OSOPER={{ ASM_OSOPER }}
oracle.install.asm.OSASM={{ ASM_OSASM }}
oracle.install.asm.SYSASMPassword={{ SYSASM_PASSWORD }}
oracle.install.asm.diskGroup.name={{ ASM_DISKGROUP_NAME }}
oracle.install.asm.diskGroup.redundancy=EXTERNAL
oracle.install.asm.diskGroup.AUSize=4
oracle.install.asm.diskGroup.FailureGroups=
oracle.install.asm.diskGroup.disksWithFailureGroupNames=
oracle.install.asm.diskGroup.disks={{ ASM_DISK }}
oracle.install.asm.diskGroup.quorumFailureGroupNames=
oracle.install.asm.diskGroup.diskDiscoveryString={{ ASM_DISK_DISCOVERY }}
oracle.install.asm.monitorPassword={{ SYSASM_PASSWORD }}
oracle.install.asm.configureAFD=false
