# Oracle Settings
export TMP=/tmp
export TMPDIR=$TMP

export ORACLE_HOSTNAME={{ HOSTNAME }}
export ORACLE_UNQNAME={{ ORACLE_UNQNAME }}
export ORACLE_BASE={{ ORACLE_BASE }}
export ORA_INVENTORY={{ ORA_INVENTORY }}
export GRID_HOME={{ GRID_HOME }}
export DB_HOME={{ ORACLE_HOME }}
export ORACLE_HOME=$DB_HOME
export ORACLE_SID={{ ORACLE_UNQNAME }}
export ORACLE_TERM=xterm
export BASE_PATH=/usr/sbin:$PATH
export PATH=$ORACLE_HOME/bin:$BASE_PATH

export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/JRE:$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib

alias grid_env='. /home/oracle/scripts/grid_env'
alias db_env='. /home/oracle/scripts/db_env'
