RESPONSEFILE_VERSION=2.2.1.0.0
UNIX_GROUP_NAME={{ unix_group_name }}
INVENTORY_LOCATION={{ ora_inventory }}
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
INSTALL_UPDATES_SELECTION=skip
ORACLE_MIDDLEWARE_HOME_LOCATION={{ mw_home }}
ORACLE_HOSTNAME={{ oracle_hostname }}
AGENT_BASE_DIR={{ agent_base }}
WLS_ADMIN_SERVER_USERNAME={{ wls_username }}
WLS_ADMIN_SERVER_PASSWORD={{ wls_password }}
WLS_ADMIN_SERVER_CONFIRM_PASSWORD={{ wls_password }}
NODE_MANAGER_PASSWORD={{ wls_password }}
NODE_MANAGER_CONFIRM_PASSWORD={{ wls_password }}
ORACLE_INSTANCE_HOME_LOCATION={{ gc_inst }}
CONFIGURE_ORACLE_SOFTWARE_LIBRARY=true
SOFTWARE_LIBRARY_LOCATION={{ software_library }}
DATABASE_HOSTNAME={{ oracle_hostname }}
LISTENER_PORT={{ listener_port }}
SERVICENAME_OR_SID={{ pdb_name }}
SYS_PASSWORD={{ sys_password }}
SYSMAN_PASSWORD={{ sysman_password }}
SYSMAN_CONFIRM_PASSWORD={{ sysman_password }}
DEPLOYMENT_SIZE=SMALL
AGENT_REGISTRATION_PASSWORD={{ agent_password }}
AGENT_REGISTRATION_CONFIRM_PASSWORD={{ agent_password }}
PLUGIN_SELECTION={}
b_upgrade=false
EM_INSTALL_TYPE=NOSEED
CONFIGURATION_TYPE=ADVANCED
CONFIGURE_SHARED_LOCATION_BIP=false
MANAGEMENT_TABLESPACE_LOCATION=/u02/oradata/COEM/3099BA9815231284E0631701A8C040FB/datafile/mgmt.dbf
CONFIGURATION_DATA_TABLESPACE_LOCATION=/u02/oradata/COEM/3099BA9815231284E0631701A8C040FB/datafile/mgmt_ecm_depot1.dbf
JVM_DIAGNOSTICS_TABLESPACE_LOCATION=/u02/oradata/COEM/3099BA9815231284E0631701A8C040FB/datafile/mgmt_deepdive.dbf
