RUN {
    ALLOCATE AUXILIARY CHANNEL p1 TYPE DISK;
    ALLOCATE AUXILIARY CHANNEL p2 TYPE DISK;
    ALLOCATE AUXILIARY CHANNEL p3 TYPE DISK;
    SET NEWNAME FOR DATABASE   TO  '/u02/oradata/{{ standby_db }}/%b';
    DUPLICATE TARGET DATABASE FOR STANDBY BACKUP LOCATION '/mnt/nfs_share/oracle/standby_bkp/o19tc' nofilenamecheck; 
    RELEASE CHANNEL p1;
    RELEASE CHANNEL p2;
    RELEASE CHANNEL p3;
}

