{{ primary_db }} =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ primary_host }})(PORT = {{ listener_port }}))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = {{ primary_db }})
    )
  )

{{ standby_db }} =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ standby_host }})(PORT = {{ listener_port }}))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = {{ standby_db }})
    )
  )
